<!DOCTYPE html>
<html class="no-js" lang="">
  <!-- Mirrored from www.radiustheme.com/demo/html/academics/academics/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Sep 2022 13:27:26 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>DTU Alumni | Home 1</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="140px-DTU,_Delhi_official_logo.png"
    />
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" />
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="/vendor/OwlCarousel/owl.theme.default.min.css"
    />
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- nivo slider CSS -->
    <link
      rel="stylesheet"
      href="vendor/slider/css/nivo-slider.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="vendor/slider/css/preview.css"
      type="text/css"
      media="screen"
    />
    <!-- Datetime Picker Style CSS -->
    <link rel="stylesheet" href="/css/jquery.datetimepicker.css" />
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="/css/hover-min.css" />
    <!-- ReImageGrid CSS -->
    <link rel="stylesheet" href="/css/reImageGrid.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Modernizr Js -->
    <script src="/js/modernizr-2.8.3.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Main Body Area Start Here -->
    <div id="wrapper">
      <!-- Header Area Start Here -->
      <header>
        <div id="header1" class="header1-area">
          <div class="main-menu-area bg-primary" id="sticker">
            <div class="container">
              <div class="row">
                <div class="col-lg-2 col-md-3">
                  <div class="logo-area">
                    <a href="/"
                      ><img
                        class="img-responsive"
                        src="140px-DTU,_Delhi_official_logo.png"
                        alt="logo"
                    /></a>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <nav id="desktop-nav">
                    <ul>
                      <li class="active">
                        <a href="/">Home</a>
                        <!-- <ul>
                                                <li class="active"><a href="index.html">Home 1</a></li>
                                              
                                            </ul> -->
                      </li>
                      <li><a href="lecturers1.html">Hall Of Fame</a></li>
                      <li>
                        <a href="registration.html">Registration</a>
                      </li>
                      <!-- <li><a href="#">Courses</a>
                                            <ul>
                                                <li><a href="courses1.html">Courses 1</a></li>
                                             
                                                <li><a href="single-courses1.html">Course Details 1</a></li>
                                               
                                            </ul>
                                        </li> -->
                      <!-- <li><a href="#">Research</a>
                                            <ul>
                                                <li><a href="research1.html">Research 1</a></li>
                                              
                                                <li><a href="single-research.html">Research Details</a></li>
                                            </ul>
                                        </li> -->
                      <!-- <li><a href="#">News</a>
                                            <ul>
                                                <li class="has-child-menu"><a href="#">News</a>
                                                    <ul class="thired-level">
                                                        <li><a href="news1.html">News 1</a></li>
                                                        <li><a href="single-news.html">News Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-child-menu"><a href="#">Event</a>
                                                    <ul class="thired-level">
                                                        <li><a href="event.html">Event</a></li>
                                                        <li><a href="single-event.html">Event Details</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> -->
                      <li>
                        <a href="SAC/sacdtu.com/indexsac.html">SAC</a>
                        <!-- <ul>
                                                <li><a href="gallery1.html">Gallery 1</a></li>
                                            </ul> -->
                      </li>
                      <li>
                        <a href="gallery1.html">Gallery</a>
                        <!-- <ul>
                                                <li><a href="gallery1.html">Gallery 1</a></li>
                                            </ul> -->
                      </li>
                      <li>
                        <a href="contact1.html">Contact</a>
                        <!-- <ul>
                                                <li><a href="contact1.html">Contact 1</a></li>
                                            </ul> -->
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="col-lg-2 d-none d-lg-block">
                  <div class="apply-btn-area">
                    <a href="#" class="apply-now-btn">Donate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Menu Area Start -->
        <!-- <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 1</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="about1.html">About 1</a></li>
                                               
                                                <li><a href="lecturers1.html">lecturers 1</a></li>
                                                <li><a href="single-lecturers.html">lecturers Details</a></li>
                                                <li><a href="pricing1.html">Pricing Plan 1</a></li>
                                                <li><a href="shop1.html">Shop 1</a></li>
                                                <li><a href="single-shop.html">Shop Details</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Courses</a>
                                            <ul>
                                                <li><a href="courses1.html">Courses 1</a></li>
                                               
                                                <li><a href="single-courses1.html">Course Details 1</a></li>
                                              
                                            </ul>
                                        </li>
                                        <li><a href="#">Research</a>
                                            <ul>
                                                <li><a href="research1.html">Research 1</a></li>
                                               
                                                <li><a href="single-research.html">Research Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">News</a>
                                            <ul>
                                                <li class="has-child-menu"><a href="#">News</a>
                                                    <ul class="thired-level">
                                                        <li><a href="news1.html">News 1</a></li>
                                                        <li><a href="single-news.html">News Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-child-menu"><a href="#">Event</a>
                                                    <ul class="thired-level">
                                                        <li><a href="event.html">Event</a></li>
                                                        <li><a href="single-event.html">Event Details</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Gallery</a>
                                            <ul>
                                                <li><a href="gallery1.html">Gallery 1</a></li>
                                                <li><a href="gallery2.html">Gallery 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contact</a>
                                            <ul>
                                                <li><a href="contact1.html">Contact 1</a></li>
                                                <li><a href="contact2.html">Contact 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- Mobile Menu Area End -->
      </header>
      <!-- Header Area End Here -->
      <!-- Slider 1 Area Start Here -->
      

    <section style="display: flex;" >
      <div class="slider1-area overlay-default index1" style="width: 70%;">
        <div class="bend niceties preview-1">
          <div
            id="ensign-nivoslider-3"
            class="slides"
            style="height: 580px; align-items: center"
          >
            <img
              src="img/slider/images2/971435_560604467348068_1180735936_n.jpg"
              alt="slider"
              title="#slider-direction-1"
            />
            <img
              src="img/slider/images2/1483124_560602227348292_142122668_n.jpg"
              alt="slider"
              title="#slider-direction-2"
            />
            <img
              src="img/slider/images2/1486743_560603090681539_266586712_n.jpg"
              alt="slider"
              title="#slider-direction-3"
            />
          </div>
          <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-1">
              <div class="title-container s-tb-c">
                <div class="title1">ALumni Forum DTU</div>
                <p>
                  Emply dummy text of the printing and typesetting industry orem
                  Ipsum has been the industry's standard <br />dummy text ever
                  sinceprinting and typesetting industry.
                </p>
                <!-- <div class="slider-btn-area">
                                <a href="#" class="default-big-btn">Start a Course</a>
                            </div> -->
              </div>
            </div>
          </div>
          <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-2">
              <div class="title-container s-tb-c">
                <div class="title1">ALumni Forum DTU</div>
                <p>
                  Emply dummy text of the printing and typesetting industry orem
                  Ipsum has been the industry's standard <br />dummy text ever
                  sinceprinting and typesetting industry.
                </p>
              </div>
            </div>
          </div>
          
          <!-- <div id="slider-direction-3" class="t-cn slider-direction">
                    <div class="slider-content s-tb slide-3">
                        <div class="title-container s-tb-c">
                            <div class="title1">Best Education Into PHP</div>
                            <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard
                                <br>dummy text ever sinceprinting and typesetting industry. </p>
                            
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
      <div style="width: 30%;">

      </div>
      
    </section>
      <!-- Slider 1 Area End Here -->
      <!-- Service 1 Area Start Here -->
      <!-- <div class="service1-area">
        <div class="service1-inner-area">
          <div class="container">
            <div class="row service1-wrapper">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 service-box1">
                <div class="service-box-content">
                  <h3><a href="#">Scholarship Facility</a></h3>
                  <p>Eimply dummy text printing ypese tting industry.</p>
                </div>
                <div class="service-box-icon">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 service-box1">
                <div class="service-box-content">
                  <h3><a href="#">Skilled Lecturers</a></h3>
                  <p>Eimply dummy text printing ypese tting industry.</p>
                </div>
                <div class="service-box-icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 service-box1">
                <div class="service-box-content">
                  <h3><a href="#">Book Library & Store</a></h3>
                  <p>Eimply dummy text printing ypese tting industry.</p>
                </div>
                <div class="service-box-icon">
                  <i class="fa fa-book" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Service 1 Area End Here -->
      <!-- About 1 Area Start Here -->



      <div class="about1-area">
        <div class="container">
          <h1
            class="about-title wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".2s"
          >
            Student Alumni Cell
          </h1>
          <p
            class="about-sub-title wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".2s"
          >
            Student's Alumni Cell (SAC) DTU, is a student body that was formed
            with the aim to brigde the gap between the alumni and current
            students/University.This body will be responsible for conduction of
            all the events related to alumni and students in the University.It
            will also act as the Alma mater's representative for the alumni that
            will be available to help them out for any kind of
            academic/administrative work in the University.
          </p>
          <!-- <div class="about-img-holder wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="img/about/1.jpg" alt="about" class="img-responsive" />
                </div> -->
        </div>
      </div>
    
      <div class="lecturers-area">
        <div class="container">
          <h2 class="title-default-left">Our Alumni</h2>
        </div>
        <div class="container">
          <div
            class="rc-carousel"
            data-loop="true"
            data-items="4"
            data-margin="30"
            data-autoplay="false"
            data-autoplay-timeout="10000"
            data-smart-speed="2000"
            data-dots="false"
            data-nav="true"
            data-nav-speed="false"
            data-r-x-small="1"
            data-r-x-small-nav="true"
            data-r-x-small-dots="false"
            data-r-x-medium="2"
            data-r-x-medium-nav="true"
            data-r-x-medium-dots="false"
            data-r-small="3"
            data-r-small-nav="true"
            data-r-small-dots="false"
            data-r-medium="4"
            data-r-medium-nav="true"
            data-r-medium-dots="false"
            data-r-large="4"
            data-r-large-nav="true"
            data-r-large-dots="false"
          >
            <div class="single-item">
              <div class="lecturers1-item-wrapper">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/Vinod Dham.png"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title"><a href="#">Vinod Dham</a></h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="lecturers1-item-wrapper">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/Durga D aggarwal.png"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title"><a href="#">Durga D aggarwal</a></h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="lecturers1-item-wrapper lectureImg">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/VSS.png"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title">
                    <a href="#">Vijay Shekhar Sharma</a>
                  </h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="lecturers1-item-wrapper">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/Raj Soin.jpg"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title"><a href="#">Raj Soin</a></h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="lecturers1-item-wrapper">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/Yogi Goswami.jpg"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title"><a href="#">Yogi Goswami</a></h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="lecturers1-item-wrapper">
                <div class="lecturers-img-wrapper">
                  <a href="#"
                    ><img
                      class="img-responsive lectureImg"
                      src="Alumni(DTU)/KArnal Singh.png"
                      alt="team"
                  /></a>
                </div>
                <div class="lecturers-content-wrapper">
                  <h3 class="item-title"><a href="#">Karnal Singh</a></h3>
                  <span class="item-designation">Lorem, ipsum dolor.</span>
                  <ul class="lecturers-social">
                    <li>
                      <a href="#"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="news-event-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 news-inner-area">
              <h2 class="title-default-left">Latest News</h2>
              <ul class="news-wrapper">
                <% news.forEach((item)=> { %>
                <li>
                  <div class="news-img-holder">
                    <a href="#"
                      ><img
                        src="img/news/1.jpg"
                        class="img-responsive"
                        alt="news"
                    /></a>
                  </div>
                  <div class="news-content-holder">
                    <h3>
                      <a href="single-news.html"><%= item.title %></a>
                    </h3>
                    <div class="post-date"><%= item.date %></div>
                    <p><%= item.description %></p>
                  </div>
                </li>
                <% }) %>
              </ul>
              <div class="news-btn-holder">
                <a href="#" class="view-all-accent-btn">View All</a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 event-inner-area">
              <h2 class="title-default-left">Upcoming Events</h2>
              <!-- <ul class="event-wrapper">
                <li
                  class="wow bounceInUp"
                  data-wow-duration="2s"
                  data-wow-delay=".1s"
                >
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3>26</h3>
                      <p>Jan</p>
                      <span>2017</span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html"
                        >Html MeetUp Conference 2017</a
                      >
                    </h3>
                    <p>
                      Pellentese turpis dignissim amet area ducation process
                      facilitating Knowledge. Pellentese turpis dignissim amet
                      area ducation process facilitating Knowledge. Pellentese
                      turpis dignissim amet area ducation.
                    </p>
                    <ul>
                      <li>04:00 PM - 06:00 PM</li>
                      <li>Australia , Melborn</li>
                    </ul>
                  </div>
                </li>
                <li
                  class="wow bounceInUp"
                  data-wow-duration="2s"
                  data-wow-delay=".3s"
                >
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3>26</h3>
                      <p>Jan</p>
                      <span>2017</span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html">Workshop On UI Design</a>
                    </h3>
                    <p>
                      Pellentese turpis dignissim amet area ducation process
                      facilitating Knowledge. Pellentese turpis dignissim amet
                      area ducation process facilitating Knowledge. Pellentese
                      turpis dignissim amet area ducation.
                    </p>
                    <ul>
                      <li>03:00 PM - 05:00 PM</li>
                      <li>Australia , Melborn</li>
                    </ul>
                  </div>
                </li>
              </ul> -->
              <ul class="event-wrapper">
                <% events.forEach((item)=> { %>
                <li
                  class="wow bounceInUp"
                  data-wow-duration="2s"
                  data-wow-delay=".1s"
                >
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3><%= item.date[0] %></h3>
                      <p><%= item.date[1] %></p>
                      <span><%= item.date[2] %></span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html"><%= item._doc.title %></a>
                    </h3>
                    <p><%= item._doc.description %></p>
                    <ul>
                      <li><%= item._doc.time %></li>
                      <li><%= item._doc.venue %></li>
                    </ul>
                  </div>
                </li>
                <% }) %>
              </ul>
              <div class="event-btn-holder">
                <a href="#" class="view-all-primary-btn">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      
     
      <!-- Brand Area End Here -->
      <!-- Footer Area Start Here -->
      <footer id="footer-id">
        <div class="footer-area" style="background-color: black">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="">
                  <a
                    href="https://www.linkedin.com/in/prof-rajesh-rohilla-7b25814/"
                    ><img
                      class="img-fot1"
                      src="img/Dr.RajeshRohilla.jfif"
                      alt="logo"
                  /></a>

                  <div class="">
                    <center>Prof Rajesh Rohilla</center>
                    <p></p>
                    Head(Training & Placement) DTU, Dean (Alumni Affairs),
                    <br />
                    Department of Electronics and Communication Engineering,
                    Delhi Technological University, Shahbad Daulatpur, Main
                    Bawana Road, New Delhi - 110085.
                    <!-- Email: rajesh@dce.ac.in -->
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="" style="line-height: 2">
                  <h3>Quick-Links</h3>
                  <ul class="">
                    <li><a href="#">Register as Alumni</a></li>
                    <!-- <li><a href="#">How to obtain Trascript</a></li> -->
                    <li><a href="#">Distinguish Alumni Info</a></li>
                    <li><a href="#">Upcoming Events for Alumni</a></li>
                    <!-- <li><a href="#">Register Suggestions</a></li>
                                    <li><a href="#">FAQs</a></li> -->
                    <li><a href="https://www.dtu.ac.in/">DTU Website</a></li>

                    <li><a href="https://dtutimes.dtu.ac.in/">DTU Times</a></li>
                  </ul>
                </div>
              </div>
              <div class="ccol-xs-6 col-md-3">
                <div class="" style="line-height: 2">
                  <h3>Contact Us</h3>
                  <ul class="">
                    <li>Email: rajesh@dce.ac.in</li>
                    <li>Phone: +91-11-27871018</li>
                    <li>
                      <a href="http://www.dtu.ac.in/Web/About/contactus.php"
                        >More</a
                      >
                    </li>
                    <!-- <li><a href="https://www.aicte-india.org/feedback/index.php">Student and Faculty Feedback</a></li>
                                    <li><a href="https://www.dtu.ac.in/Web/studentCorner/">Student Corner</a></li> -->
                  </ul>
                  <p></p>
                  <div class="row">
                    <ul class="social-icons">
                      <li>
                        <a
                          class="facebook"
                          href="https://www.facebook.com/DTU_Official-106520998184971"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a class="twitter" href="#"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a class="dribbble" href="#"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a class="linkedin" href="#"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bot">
          <div class="row">
            <div class="">
              <center>
                <p class="copyright-text">
                  Copyright &copy; 2022 All Rights Reserved by
                  <a href="#">DTU</a>.
                </p>
              </center>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/DTU_Official-106520998184971"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                        </ul>
                    </div> -->
          </div>
        </div>
      </footer>
      <!-- Footer Area End Here -->
    </div>
    <!-- Main Body Area End Here -->
    <!-- jquery-->
    <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js" type="text/javascript"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!-- WOW JS -->
    <script src="js/wow.min.js"></script>
    <!-- Nivo slider js -->
    <script
      src="vendor/slider/js/jquery.nivo.slider.js"
      type="text/javascript"
    ></script>
    <script src="vendor/slider/home.js" type="text/javascript"></script>
    <!-- Owl Cauosel JS -->
    <script
      src="vendor/OwlCarousel/owl.carousel.min.js"
      type="text/javascript"
    ></script>
    <!-- Meanmenu Js -->
    <script src="js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="js/jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- jquery.counterup js -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js" type="text/javascript"></script>
    <!-- Isotope js -->
    <script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Magic Popup js -->
    <script
      src="js/jquery.magnific-popup.min.js"
      type="text/javascript"
    ></script>
    <!-- Gridrotator js -->
    <script src="js/jquery.gridrotator.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="js/main.js" type="text/javascript"></script>
  </body>

  <!-- Mirrored from www.radiustheme.com/demo/html/academics/academics/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Sep 2022 13:29:04 GMT -->
</html>
