<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>DTU Alumni | Home 1</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="140px-DTU,_Delhi_official_logo.png"
    />
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="./index.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" />
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="index.css" />

    <link
      rel="stylesheet"
      href="/vendor/OwlCarousel/owl.theme.default.min.css"
    />
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- nivo slider CSS -->
    <link
      rel="stylesheet"
      href="vendor/slider/css/nivo-slider.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="vendor/slider/css/preview.css"
      type="text/css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Datetime Picker Style CSS -->
    <link rel="stylesheet" href="/css/jquery.datetimepicker.css" />
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="/css/hover-min.css" />
    <!-- ReImageGrid CSS -->
    <link rel="stylesheet" href="/css/reImageGrid.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/public/navbar/index.css" />
    <!-- Modernizr Js -->
    <script src="/js/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
   
    <header>
      <div class="row container nav3">
        <div class="navbar-brand topnav">
          <img
            src="140px-DTU,_Delhi_official_logo.png"
            style="height: 60px"
            alt=""
          />
        </div>
        <div class="disp mx-auto"><h2 class="matw">DTU Alumni Affairs</h2></div>

        <div class="ml-auto disp">
          <button type="button" class="btn btn-primary">
            <a style="color: white" href="/donation.html">Donate</a>
          </button>
        </div>
      </div>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
        <div class="navbar-toggler-right">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse flex-column" id="navbar">
          <ul class="navbar-nav w-100 justify-content-center px-3">
            <li class="nav-item active navi">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item dropdown navi">
              <a
                class="nav-link dropdown-toggle"
                href="####"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Administration
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/VC.html">Vice-Chancellor</a>
                <a class="dropdown-item" href="/dean.html">Dean</a>
                <a class="dropdown-item" href="./AssociateDean.html">Associate Dean</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>

            <li class="nav-item active navi">
              <a class="nav-link" href="/lecturers1.html"> Notable Alumni </a>
            </li>
            <li class="nav-item dropdown navi">
              <a
                class="nav-link dropdown-toggle"
                href="/donation.html"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Donations
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/lecturers1.html"
                  >Wall of Donars</a
                >
                <a class="dropdown-item" href="/whyDonate.html">Why Donate</a>
                <a class="dropdown-item" href="/howDonate">How to Donate</a>
                <ol
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                  style="
                    text-align: center;
                    background-color: #343a40;
                    color: #fff;
                  "
                >
                  <div>Donation Opportunities</div>
                  <div
                    style="height: 1px; width: 100%; background-color: #343a40"
                  ></div>
                  <div style="background-color: #fff">
                    <a class="dropdown-item" href="/namingOp.html"
                      >Naming Opportunities</a
                    >
                    <a class="dropdown-item" href="/medalAndScholar.html"
                      >Medal and Scholarship</a
                    >
                    <a class="dropdown-item" href="/contributionFund.html"
                      >Contribution Fund</a
                    >
                  </div>
                </ol>
              </div>
            </li>
            <li class="nav-item dropdown navi">
              <a
                class="nav-link dropdown-toggle"
                href="/registration1.html"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Join Us
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/alumni.html">Alumni</a>
                <a class="dropdown-item" href="/registration1.html"
                  >Current Student</a
                >
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item dropdown navi">
              <a
                class="nav-link dropdown-toggle"
                href="./gallery1.html"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Gallery
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/Gallery_memories.html"
                  >Memories</a
                >
                <a class="dropdown-item" href="/Gallery_events.html">Events</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item navi">
              <a class="nav-link" href="/contact1.html"> Contact Us </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
        
      </nav>
      
      
      
    </header>


    <section>
      <nav class="navbar navbar-expand-md navbar-warning bg-warning ">
       
          <marquee width="100%" direction="right" height="25px" scrollamount="12">
            <a href="single-event.html">
             " <%= news[0]._doc.title %>"  <%= news[0]._doc.description %> 
            </a>
          </marquee>
       
        
      </nav>
    </section>
    
    
    <div id="wrapper">
      
      <section style="display: flex">
        <div
          style="
            width: 25%;
            height: auto;

            display: flex;
            background-color: #f5f5f5;
          "
          class="event-inner-area"
        >
        
          <div class="event-wrapper" style="width: 100%">
            <li>
              <div class="event-content-holder" style="width: 100%">
                <h2 class="title-default-center" style="margin-bottom: 0">
                  NEWS
                </h2>
                <h3>
                  <a href="single-event.html"><%= news[0]._doc.title %></a>
                </h3>
                <p><%= news[0]._doc.description %></p>
                <!-- <ul>
                  <li><%= news[0]._doc.time %></li>
                  <li><%= news[0]._doc.venue %></li>
                </ul> -->
              </div>
            </li>
            <!-- <h2 class="title-default-center" >
              DONATIONS
            </h2> -->
            <div class="card" style="margin-top: -1rem">
              <div class="card-body" style="text-align: center">
                <h2 class="title-default-center" style="margin-bottom: 0">
                  DONATIONS
                </h2>
                <h5 class="card-title">Raj Soin</h5>
                <p class="card-text">
                  Pledged 5 Crore, Received Approximately 4.45 Crore
                </p>
                <h5 class="card-title">Prof. D Yog Goswami</h5>
                <p class="card-text">Received $50,000</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="slider1-area overlay-default index1"
          style="width: 60%; height: auto"
        >
          <div class="bend niceties preview-1">
            <div
              id="ensign-nivoslider-3"
              class="slides"
              style="align-items: center"
            >
              <img
                src="img/slider/images2/971435_560604467348068_1180735936_n.jpg"
                alt="slider"
                title="#slider-direction-1"
                height="400px"
              />
              <img
                src="img/slider/images2/1483124_560602227348292_142122668_n.jpg"
                alt="slider"
                title="#slider-direction-2"
              />
              <img
                src="img/slider/images2/1486743_560603090681539_266586712_n.jpg"
                alt="slider"
                title="#slider-direction-3"
              />
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction">
              <div class="slider-content s-tb slide-1">
                <div class="title-container s-tb-c">
                  <div class="title1">Alumni Affairs DTU</div>
                  <p>
                    Emply dummy text of the printing and typesetting industry
                    orem Ipsum has been the industry's standard <br />dummy text
                    ever sinceprinting and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
            <div id="slider-direction-2" class="t-cn slider-direction">
              <div class="slider-content s-tb slide-2">
                <div class="title-container s-tb-c">
                  <div class="title1">Alumni Forum DTU</div>
                  <p>
                    Emply dummy text of the printing and typesetting industry
                    orem Ipsum has been the industry's standard <br />dummy text
                    ever sinceprinting and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            width: 25%;
            height: auto;

            display: flex;
            background-color: #f5f5f5;
          "
          class="event-inner-area"
        >
          <ul class="event-wrapper">
            <h2 class="title-default-left" style="text-align: center">
              Upcoming Event
            </h2>
            <li>
              <div class="event-calender-wrapper">
                <div class="event-calender-holder">
                  <h3><%= events[0].date[0] %></h3>
                  <p><%= events[0].date[1] %></p>
                  <span><%= events[0].date[2] %></span>
                </div>
              </div>
              <div class="event-content-holder">
                <h3>
                  <a href="single-event.html"><%= events[0]._doc.title %></a>
                </h3>
                <p><%= events[0]._doc.description %></p>
                <ul>
                  <li><%= events[0]._doc.time %></li>
                  <li><%= events[0]._doc.venue %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <h2 class="title-default-center" style="margin-top: 10px">
        Distinguished Alumni
      </h2>
      <section style="display: flex; margin: 0 0 40px 0">
        <div class="card" style="width: 18rem; margin: 0 30px">
          <img
            src="Alumni(DTU)/Vinod Dham.png"
            class="card-img-top"
            alt="..."
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Vinod Dham</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 30px">
          <img
            src="Alumni(DTU)/Durga D aggarwal.png"
            class="card-img-top"
            alt="..."
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Durga D Aggarwal</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 30px">
          <img
            src="Alumni(DTU)/Raj Soin.jpg"
            class="card-img-top"
            alt="..."
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Raj Soin</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 30px">
          <img
            src="Alumni(DTU)/VSS.png"
            class="card-img-top"
            alt="..."
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Vijay Shekhar Sharma</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
        <div class="card" style="width: 18rem; margin: 0 30px">
          <img
            src="Alumni(DTU)/Yogi Goswami.jpg"
            class="card-img-top"
            alt="..."
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Yogi Goswami</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </section>

      <div class="news-event-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 news-inner-area">
              <h2 class="title-default-left">Latest News</h2>
              <ul class="news-wrapper">
                <% news.forEach((item)=> { %>
                <li>
                  <div class="news-img-holder">
                    <a href="#"
                      ><img
                        src="img/news/1.jpg"
                        class="img-responsive"
                        alt="news"
                    /></a>
                  </div>
                  <div class="news-content-holder">
                    <h3>
                      <a href="single-news.html"><%= item.title %></a>
                    </h3>
                    <div class="post-date"><%= item.date %></div>
                    <p><%= item.description %></p>
                  </div>
                </li>
                <% }) %>
              </ul>
              <div class="news-btn-holder">
                <a href="#" class="view-all-accent-btn">View All</a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 event-inner-area">
              <h2 class="title-default-left">Upcoming Events</h2>
              <!-- <ul class="event-wrapper">
                <li
                  class="wow bounceInUp"
                  data-wow-duration="2s"
                  data-wow-delay=".1s"
                >
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3>26</h3>
                      <p>Jan</p>
                      <span>2017</span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html"
                        >Html MeetUp Conference 2017</a
                      >
                    </h3>
                    <p>
                      Pellentese turpis dignissim amet area ducation process
                      facilitating Knowledge. Pellentese turpis dignissim amet
                      area ducation process facilitating Knowledge. Pellentese
                      turpis dignissim amet area ducation.
                    </p>
                    <ul>
                      <li>04:00 PM - 06:00 PM</li>
                      <li>Australia , Melborn</li>
                    </ul>
                  </div>
                </li>
                <li
                  class="wow bounceInUp"
                  data-wow-duration="2s"
                  data-wow-delay=".3s"
                >
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3>26</h3>
                      <p>Jan</p>
                      <span>2017</span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html">Workshop On UI Design</a>
                    </h3>
                    <p>
                      Pellentese turpis dignissim amet area ducation process
                      facilitating Knowledge. Pellentese turpis dignissim amet
                      area ducation process facilitating Knowledge. Pellentese
                      turpis dignissim amet area ducation.
                    </p>
                    <ul>
                      <li>03:00 PM - 05:00 PM</li>
                      <li>Australia , Melborn</li>
                    </ul>
                  </div>
                </li>
              </ul> -->
              <ul class="event-wrapper">
                <% events.forEach((item)=> { %>
                <li>
                  <div class="event-calender-wrapper">
                    <div class="event-calender-holder">
                      <h3><%= item.date[0] %></h3>
                      <p><%= item.date[1] %></p>
                      <span><%= item.date[2] %></span>
                    </div>
                  </div>
                  <div class="event-content-holder">
                    <h3>
                      <a href="single-event.html"><%= item._doc.title %></a>
                    </h3>
                    <p><%= item._doc.description %></p>
                    <ul>
                      <li><%= item._doc.time %></li>
                      <li><%= item._doc.venue %></li>
                    </ul>
                  </div>
                </li>
                <% }) %>
              </ul>
              <div class="event-btn-holder">
                <a href="#" class="view-all-accent-btn">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer-id">
        <div class="footer-area" style="background-color: black">
          <div class="container" style="max-width: 100%">
            <div class="row">
              <div
                class="col-sm-12 col-md-6"
                style="display: flex; align-items: center"
              >
                <div>
                  <section
                    style="
                      display: flex;
                      align-items: center;
                      padding-bottom: 10px;
                    "
                  >
                    <div class="" style="margin: 0 50px">
                      <a
                        href="https://www.linkedin.com/in/prof-rajesh-rohilla-7b25814/"
                        ><img
                          class="img-fot1"
                          style="width: 80px"
                          src="/img/footer/rajeshrohilla.jpg"
                          alt="logo"
                      /></a>
                    </div>
                    <div class="">
                      <center>
                        Prof Rajesh Rohilla, Dean (Alumni Affairs)
                      </center>
                      <p></p>
                      <!-- Dean (Alumni Affairs), -->
                      <br />

                      <!-- Email: rajesh@dce.ac.in -->
                    </div>
                  </section>
                  <section style="display: flex; align-items: center">
                    <div class="" style="margin: 0 50px">
                      <a href="https://in.linkedin.com/in/yasha-hasija-a10b3941"
                        ><img
                          class="img-fot1"
                          style="width: 80px"
                          src="/img/footer/yashahasija.jpg"
                          alt="logo"
                      /></a>
                    </div>
                    <div class="" style="text-align: center">
                      <center>
                        Dr Yasha Hasija , Associate Dean (Alumni Affairs)
                      </center>
                      <p></p>
                      <!-- Associate Dean (Alumni Affairs), -->
                      <br />

                      <!-- Email: rajesh@dce.ac.in -->
                    </div>
                  </section>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="" style="line-height: 2">
                  <h3>Quick-Links</h3>
                  <ul class="">
                    <li><a href="#">Register as Alumni</a></li>
                    <!-- <li><a href="#">How to obtain Trascript</a></li> -->
                    <!-- <li><a href="#">Distinguish Alumni Info</a></li> -->
                    <li><a href="#">Upcoming Events for Alumni</a></li>
                    <!-- <li><a href="#">Register Suggestions</a></li>
                                    <li><a href="#">FAQs</a></li> -->
                    <li><a href="https://www.dtu.ac.in/">DTU Website</a></li>
                    <!-- <li><a href="https://dtutimes.dtu.ac.in/">DTU Times</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="ccol-xs-6 col-md-3">
                <div class="" style="line-height: 2">
                  <h3>Contact Us</h3>
                  <ul class="">
                    <li>Email: rajesh@dce.ac.in</li>
                    <li>Phone: +91-11-27871018</li>
                    <li>
                      <a href="http://www.dtu.ac.in/Web/About/contactus.php"
                        >More</a
                      >
                    </li>
                    <!-- <li><a href="https://www.aicte-india.org/feedback/index.php">Student and Faculty Feedback</a></li>
                                    <li><a href="https://www.dtu.ac.in/Web/studentCorner/">Student Corner</a></li> -->
                  </ul>
                  <p></p>
                  <!-- <div class="row">
                    <ul class="social-icons">
                      <li>
                        <a
                          class="facebook"
                          href="https://www.facebook.com/DTU_Official-106520998184971"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a class="twitter" href="#"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a class="dribbble" href="#"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a class="linkedin" href="#"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bot">
          <div class="row">
            <div style="display: flex; justify-content: center; width: 100vw">
              <p class="copyright-text">
                Copyright &copy; 2022 All Rights Reserved by
                <a href="#">ALUMNI DTU</a>.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Main Body Area End Here -->
    <!-- jquery-->
    <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js" type="text/javascript"></script>
    <!-- Bootstrap js -->

    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!-- WOW JS -->
    <script src="js/wow.min.js"></script>
    <!-- Nivo slider js -->
    <script
      src="vendor/slider/js/jquery.nivo.slider.js"
      type="text/javascript"
    ></script>
    <script src="vendor/slider/home.js" type="text/javascript"></script>
    <!-- Owl Cauosel JS -->
    <script
      src="vendor/OwlCarousel/owl.carousel.min.js"
      type="text/javascript"
    ></script>
    <!-- Meanmenu Js -->
    <script src="js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="js/jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- jquery.counterup js -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js" type="text/javascript"></script>
    <!-- Isotope js -->
    <script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Magic Popup js -->
    <script
      src="js/jquery.magnific-popup.min.js"
      type="text/javascript"
    ></script>
    <!-- Gridrotator js -->
    <script src="js/jquery.gridrotator.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="js/main.js" type="text/javascript"></script>
  </body>

  <!-- Mirrored from www.radiustheme.com/demo/html/academics/academics/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Sep 2022 13:29:04 GMT -->
</html>
